	div{
		width:100px; height:100px; background:blue; margin-bottom:5px;
		transition: width 1s; background: 2s;
	}
	
#div1:hover{
	width:200px;
}

#div2:hover{
	transition-delay: 2s;
	background:red;
}

#div3:hover{
	width:300px;
	background:yellow;
}