#nav{
    background-color: blueviolet;

}

#nav-wrapper{
    width: auto;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

#nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

#nav ul li{
    display: inline-block;
}



#nav ul li ul:hover{
    display: block;
}

#nav ul ul{
    display: none;
    position:;
    background-color: rgb(255, 238, 0);
    border: 3px solid rgb(201, 28, 28);
    border-top: 0;
    margin-left: -5px;
    min-width: 200px;

}

#nav ul ul li a, :visited{
    color: blue;
}